@page "/userslist"
@inject NavigationManager NavigationManager

<h3>Регистрация в программе!</h3>
<div class="row">
    <div class="col-5">
        <h3>Пользователи</h3>
        @foreach (var item in listusers)
        {
            <button type="button"  data-bs-toggle="tooltip" data-bs-placement="top" title="Нажмите чтобы редактировать!" class="list-group-item list-group-item-action btn btn-outline-warning">@MyUsers. @item.Name @item.Surname,Логин:@item.Login</button>
            MyUsers++;
        }
        
        <button type="button" @onclick="(()=>OnInitialized())"  class="btn btn-danger">Обновить список</button>
    </div>
    <div class="col-4">
        <h3>Команды!</h3>
        @foreach (var item in listteam)
        {
            <button type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Нажмите чтобы редактировать или добавить игрока!" class="list-group-item list-group-item-action btn btn-outline-info">@MyTeam. @item.Name</button>
            MyTeam++; ;
        }
        <button type="submit" @onclick=CreateTeam class="btn btn-success">Добавить команду!</button>
    </div>
</div>
<div class="mt-4 col-7">
    <h3>Редактирование и добавление новой команды!</h3>
    <div class="list-group">
        <input type="text" class="list-group-item list-group-item-action" placeholder="Введите название вашей команды!" @bind="Name" />
        <input type="text" disabled=true class="list-group-item list-group-item-action" @bind="User1.Login" />
        <input type="text" disabled=true class="list-group-item list-group-item-action" @bind="User2.Login" />
        <input type="text" disabled=true class="list-group-item list-group-item-action" @bind="User3.Login" />
        <input type="text" disabled=true class="list-group-item list-group-item-action" @bind="User4.Login" />
        <input type="text" disabled=true class="list-group-item list-group-item-action" @bind="User5.Login" />
    </div>
    <div class="p-2">
        <button type="button" class="btn btn-success">Добавить нового игрока</button>
        <button type="button" class="btn btn-danger">Удалить игрока</button>
        <button type="button" @onclick=RandomBtn class="btn btn-warning">Рандомное заполнение</button>
        <button type="button" class="btn btn-info">Обновить команду</button>
    </div>
</div>

@code {
    public int MyUsers { get; set; } = 1;
    public int MyTeam { get; set; } = 1;
    public string Name { get; set; }


    Team newteams;
    List<Team> listteam;

    List<LoginModel> listusers = new List<LoginModel>();
    LoginModel User1 { get; set; } = new LoginModel("No", "People", "No", "No People");
    LoginModel User2 { get; set; } = new LoginModel("No", "People", "No", "No People");
    LoginModel User3 { get; set; } = new LoginModel("No", "People", "No", "No People");
    LoginModel User4 { get; set; } = new LoginModel("No", "People", "No", "No People");
    LoginModel User5 { get; set; } = new LoginModel("No", "People", "No", "No People");

    public void CreateTeam()
    {
        Team team = new Team(Name,new List<LoginModel>() {User1,User2,User3,User4,User5 });
        team.Addteam(team);
        MyUsers = 1;
        MyTeam = 1;
        OnInitialized();
    }

    protected override void OnInitialized()
    {
        MyUsers = 1;
        MyTeam = 1;
        newteams = new Team(Name, new List<LoginModel>() { User1, User2, User3, User4, User5 });
        listusers = LoginModel.TakeList();
        listteam = Team.TakeTeamsList();
        RandomBtn();
        base.OnInitialized();
    }
    public  void RandomBtn()
    {
        User1 = new LoginModel("No", "People", "No", "No People");
        User2 = new LoginModel("No", "People", "No", "No People");
        User3 = new LoginModel("No", "People", "No", "No People");
        User4 = new LoginModel("No", "People", "No", "No People");
        User5 = new LoginModel("No", "People", "No", "No People");

        Random rnd = new Random();

        if(listusers.Count == 1)
        {
            User1 = listusers[0];
        } 
        if(listusers.Count == 2)
        {
            User1 = listusers[0];
            User2 = listusers[1];
        }
        if(listusers.Count == 3)
        {
            User1 = listusers[0];
            User2 = listusers[1];
            User3 = listusers[2];
        }
        if(listusers.Count == 4)
        {
            User1 = listusers[0];
            User2 = listusers[1];
            User3 = listusers[2];
            User4 = listusers[3];
        }
        if(listusers.Count == 5)
        {
            User1 = listusers[0];
            User2 = listusers[1];
            User3 = listusers[2];
            User4 = listusers[3];
            User5 = listusers[4];
        }
        if(listusers.Count > 5)
        {
            int a = 0;            
            a = rnd.Next(0, listusers.Count);
            User1 = listusers[a];
            while(User1.id == listusers[a].id)
            {
                a = rnd.Next(0, listusers.Count);
            } 
            User2 = listusers[a];
            while(User2.id == listusers[a].id || User1.id == listusers[a].id)
            {
                a = rnd.Next(0, listusers.Count);
            }     
            User3 = listusers[a];
            while(User3.id == listusers[a].id || User2.id == listusers[a].id || User1.id == listusers[a].id)
            {
                a = rnd.Next(0, listusers.Count);
            }     
            User4 = listusers[a];
            while(User4.id == listusers[a].id || User3.id == listusers[a].id || User2.id == listusers[a].id || User1.id == listusers[a].id)
            {
                a = rnd.Next(0, listusers.Count);
            }     
            User5 = listusers[a];
        }
        MyUsers = 1;
        MyTeam = 1;
    }
}
